<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Maintenance Page</title>
    <body>
        <center>
            <p style="position:absolute;top:50%;margin:auto;text-align:center">Site Under Maintenance. Please Visit Later</p>
        </center>
    </body>
</head>